body {
    font-size: 62.5%;
}

p {
    font-size: 1.4em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px auto 0.25em auto;
}

h1, h2, h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1 {
    font-size: 2.4em;
    margin: 0px auto 1em 0px;
}

h2 {
    font-size: 2.0em;
    margin: 0px auto 0.4em 2em;
}

h3 {
    font-size: 1.8em;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

.pronounce {
    color: #767703;
}

header {
    width: 100%;
}

article {
    width: 65%;
    float: left;
}

aside {
    width: 25%;
    float: right;
}

aside img {
    width: 100%;
    height: auto;
}

footer {
    width: 100%;
    clear: both;
}