ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(181, 123, 235);
}

li {
    float: left;
}

li:last-child {
    border-bottom: none;
}

li a {
    display: block;
    padding: 8px;
}

